{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.8.0/css/flag-icon.css">
{% endblock %}

{% block body %}

<div class="container">

<div class="container">
    <h3>Participante</h3>
    <h2>{{ user.familyName }} {{ user.givenName }}</h2>
    {{ user.position }} <strong>{{ user.institution }}</strong><br>
    {{ user.degree }}<br>
    {{ user.gender }}<br>
    <br>
    <address>
        <abbr title="Phone">Tel:</abbr> {{ user.phoneNumber }}<br>
        {{ user.address }}<br>
        {{ user.city }}<br>
        {{ user.postalCode }}<br>
        <strong><span class="flag-icon flag-icon-{{ user.country.code|lower }}"></span> {{ user.country }}</strong><br>
    </address>


</div>

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('user_index') }}">Back to the list</a>#}
        {#</li>#}
        {#<li>#}
            {#<a href="{{ path('user_edit', { 'id': user.id }) }}">Edit</a>#}
        {#</li>#}
        {#<li>#}
            {#{{ form_start(delete_form) }}#}
                {#<input type="submit" value="Delete">#}
            {#{{ form_end(delete_form) }}#}
        {#</li>#}
    {#</ul>#}
</div>
{% endblock %}
