{% extends 'base-prima.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jqc-1.12.4/dt-1.10.13/b-1.2.4/datatables.min.css"/>
{% endblock %}

{% block body %}

<div class="container-fluid">
    <h2 class="prima-title">Talks</h2>

    <table class="table table-condensed table-striped" id="lectures_table">
        <thead>
            <tr>
                <th>Speaker</th>
                <th>Title</th>
                <th>Session</th>
                {#<th>Type</th>#}

            </tr>
        </thead>
        <tbody>
        {% for lecture in lectures %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': lecture.iduser.id }) }}">{{ lecture.iduser }}</a></td>
                <td><a href="{{ path('lecture_show', {'id': lecture.id }) }}">{{ lecture.title }}</a></td>
                <td><a href="{{ path('areas_show', { 'slug': lecture.area.slug }) }}">{{ lecture.area }}</a></td>
                {#<td>{{ lecture.summary }}</td>#}
                {#<td>{{ lecture.conferenceParticipant }}</td>#}
                {#<td>#}
                    {#<ul>#}
                        {#<li>#}
                            {#<a href="{{ path('lecture_show', { 'id': lecture.id }) }}">show</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="{{ path('lecture_edit', { 'id': lecture.id }) }}">edit</a>#}
                        {#</li>#}
                    {#</ul>#}
                {#</td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('lecture_new') }}">Create a new lecture</a>#}
        {#</li>#}
    {#</ul>#}
</div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript" src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $('#lectures_table').DataTable();
        } );
    </script>

    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
        });
    </script>
    <script type="text/javascript" async
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>

{% endblock %}