{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        <h3><a href="{{ path('areas_show', { 'id': lecture.area.id }) }}">{{ lecture.area }}</a></h3>
        <h4>{{ lecture.conferenceParticipant }}</h4>
        <hr>
        <h3><a href="{{ path('user_show', {'id': lecture.iduser.id }) }}">{{ lecture.iduser }}</a></h3>
        <h4>{{ lecture.title }}</h4>
        <div class="panel panel-default">
            <div class="panel-body">
                {{ lecture.summary }}
            </div>
        </div>
        <hr>
        <i class="fa fa-calendar" aria-hidden="true"></i>  {{ lecture.schedule|date('Y-m-d') }} - ({{ lecture.start|date('H:i') }} : {{ lecture.end|date('H:i') }})
    </div>

    {##}
    {#<table>#}
        {#<tbody>#}
            {#<tr>#}
                {#<th>Iduser</th>#}
                {#<td>{{ lecture.iduser }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Title</th>#}
                {#<td></td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Area</th>#}
                {#<td>{{ lecture.area }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Summary</th>#}
                {#<td>{{ lecture.summary }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Conferenceparticipant</th>#}
                {#<td>{{ lecture.conferenceParticipant }}</td>#}
            {#</tr>#}

        {#</tbody>#}
    {#</table>#}

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('lecture_index') }}">Back to the list</a>#}
        {#</li>#}
        {#<li>#}
            {#<a href="{{ path('lecture_edit', { 'id': lecture.id }) }}">Edit</a>#}
        {#</li>#}
        {#<li>#}
            {#{{ form_start(delete_form) }}#}
                {#<input type="submit" value="Delete">#}
            {#{{ form_end(delete_form) }}#}
        {#</li>#}
    {#</ul>#}
{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
        });
    </script>
    <script type="text/javascript" async
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>

{% endblock %}

