{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lecture</h1>

    <table>
        <tbody>
            <tr>
                <th>Iduser</th>
                <td>{{ lecture.iduser }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ lecture.title }}</td>
            </tr>
            <tr>
                <th>Area</th>
                <td>{{ lecture.area }}</td>
            </tr>
            <tr>
                <th>Summary</th>
                <td>{{ lecture.summary }}</td>
            </tr>
            <tr>
                <th>Conferenceparticipant</th>
                <td>{{ lecture.conferenceParticipant }}</td>
            </tr>
            <tr>
                <th>Recorddate</th>
                <td>{% if lecture.recordDate %}{{ lecture.recordDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Canceled</th>
                <td>{{ lecture.canceled }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ lecture.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('lecture_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('lecture_edit', { 'id': lecture.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
